@font-face {
  font-family: "iconfont"; /* Project id 3773664 */
  src: url('/fonts/iconfont.woff2?t=1670730187417') format('woff2'),
       url('/fonts/iconfont.woff?t=1670730187417') format('woff'),
       url('/fonts/iconfont.ttf?t=1670730187417') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontdingwei1:before {
  content: "\e60f";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-qiehuanzhanghao:before {
  content: "\e623";
}

.icon-ziliaoshouce:before {
  content: "\e898";
}

.icon-tijikongjian:before {
  content: "\e89f";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-gengduo:before {
  content: "\e719";
}

.icon-Cake:before {
  content: "\e691";
}

.icon-24gf-cartFull10:before {
  content: "\e884";
}

.icon-gouxuan:before {
  content: "\e60b";
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\e61e";
}

.icon-yuanquan:before {
  content: "\e609";
}

.icon-meiyoushuju:before {
  content: "\e60d";
}

.icon-bianji:before {
  content: "\e816";
}

.icon-icon_fanhuijiantouxiangqingye:before {
  content: "\e62b";
}

.icon-caiwu:before {
  content: "\e61f";
}

.icon-mima:before {
  content: "\e632";
}

.icon-youhuihuodong-1:before {
  content: "\e792";
}

.icon-dingwei2:before {
  content: "\e686";
}

.icon-a-dingwei11:before {
  content: "\e63e";
}

.icon-fanhuidingbu1:before {
  content: "\e658";
}

.icon-icon_gouwuche:before {
  content: "\e613";
}

.icon-fanhuidingbu:before {
  content: "\e713";
}

.icon-hongbao:before {
  content: "\e6da";
}

.icon-wodedingdan:before {
  content: "\e648";
}

.icon-xianjindai:before {
  content: "\e622";
}

.icon-jifen:before {
  content: "\e897";
}

.icon-daifukuan:before {
  content: "\e606";
}

.icon-daishouhuo:before {
  content: "\e607";
}

.icon-yue:before {
  content: "\e61c";
}

.icon-01_huiyuandengjiguanli:before {
  content: "\e62d";
}

.icon-shanghuguanli:before {
  content: "\e65f";
}

.icon-zhuye:before {
  content: "\e873";
}

.icon-geren:before {
  content: "\e608";
}

.icon-zhuye1:before {
  content: "\e60c";
}

